
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
}

/* Navigation Bar */
.navbar {
    background:#777abf;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2 rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: white;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    width: 100%;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #fabc70;
    color: white;
}
.button:hover {
    background: #87c9a4;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #fabc70;
    transition: all 0.3s ease;
}

/* @media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height 50vh
    }
} */

/* Side Bar */

.sidebar {
    background: #f7f9fa;
    height: 800px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: top;
    font-size: 15px;
    top: 0;
    z-index: 999;
}

.sidebar__container {
    display: block;
    justify-content: space-evenly;
    height: 80px;
    z-index: 1;
    width: 200px;
    max-width: 200px;
    margin: 0 auto;
    padding: 0;
}
.sidebar__menu {
    display: block;
    text-align: left;
    align-items: left;
    list-style: none;
    
}

.sidebar__item {
    height: 20px;
}

.sidebar__links {
    color: #959696;
    display: block;
    align-items: top;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    margin-top: 20px;
}

/* Search Bar */
.side__search {
    margin-top: 15px;
}

.side__search input[type=text] {
    font-size: 15px;
    border: none;
    color: #777abf;
    height: 35px;
    width: 200px;
    text-align: center;
}

/* Connections */
.connections {
    background-color: #fabc70;
    /* display: flex;
    justify-content: space-between;
    align-items: flex-start; */
    margin-left: 275px;
    margin-top: -775px;
    height: 30px;
    width: 250px;
}
.header {
    text-align: center;
    color: #f7f9fa;
    size: 10px;
    justify-content: space-evenly;
}

.forums {
    background-color: #fabc70;
    /* display: flex;
    justify-content: space-between;
    align-items: flex-start; */
    margin-left: 275px;
    margin-top: 30px;
    height: 30px;
    width: 250px;
}

.forum__container {
    background-color: #e5e6ffb9;
    display: flexbox;
    margin-left: 275px;
    margin-top: 15px;
    margin-right: 50px;
    height: 170px;
}

.forum__hashtag {
    font-size: 13px;
    margin-left: 15px;
    padding-top: 15px;
}

.hashtag__link {
    color: #6f6692;
    text-decoration: none;
}

.forum__title {
    font-size: 20px;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.title {
    color: #3f3e45;
}
.forum__text {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 5px;
}

.forum__actions {
    padding-top: 10px;
}

.actions {
    font-size: 15px;
    color: #6f6692;
    text-decoration: none;
    padding: 0 1rem;
}
/* Separate Forum Page */
.header2 {
    text-align: center;
    color: #f7f9fa;
    size: 10px;
    justify-content: space-evenly;
}

.forums2 {
    background-color: #fabc70;
    /* display: flex;
    justify-content: space-between;
    align-items: flex-start; */
    margin-left: 275px;
    margin-top: 45px;
    height: 30px;
    width: 250px;
}

.forum__container2 {
    background-color: #e5e6ffb9;
    display: flexbox;
    margin-left: 275px;
    margin-top: 15px;
    margin-right: 50px;
    height: 170px;
}

.forum__hashtag2 {
    font-size: 13px;
    margin-left: 15px;
    padding-top: 15px;
}

.hashtag__link2 {
    color: #6f6692;
    text-decoration: none;
}

.forum__title2 {
    font-size: 20px;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.title2 {
    color: #3f3e45;
}
.forum__text2 {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 5px;
}

.forum__actions2 {
    padding-top: 10px;
}

.actions2 {
    font-size: 15px;
    color: #6f6692;
    text-decoration: none;
    padding: 0 1rem;
}

.grade__title {
    background-color: #76a79a;
    display: flexbox;
    margin-left: 275px;
    margin-top: -775px;
    margin-right: 50px;
    height: 100px;
}
.grade__header {
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
   
}

/* Dropdown for Grade Level */
.dropbtn {
    background-color: #777abf;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f7f9fa;
    ;
    min-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #959696;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #fabc70;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #777abf;}
